# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [46]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo = df

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
# Solution 2
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [11]:
chipo.columns.to_list()

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
chipo['item_price'] = (
    chipo['item_price']
    .astype(str)
    .str.replace(r'[\$,]', '', regex=True)
    .astype(float)
)

In [66]:
c = chipo.groupby(['item_name']).agg({'quantity': ['sum', 'mean', 'max'], 'item_price': 'mean'})
print(c)
#c = c.sort_values('quantity', ascending=False)
#c.head(1)

                                      quantity               item_price
                                           sum      mean max       mean
item_name
6 Pack Soft Drink                           55  1.018519   2   6.610185
Barbacoa Bowl                               66  1.000000   1  10.187273
Barbacoa Burrito                            91  1.000000   1   9.832418
Barbacoa Crispy Tacos                       12  1.090909   2  10.928182
Barbacoa Salad Bowl                         10  1.000000   1  10.640000
Barbacoa Soft Tacos                         25  1.000000   1  10.018400
Bottled Water                              211  1.302469  10   1.867654
Bowl                                         4  2.000000   3  14.800000
Burrito                                      6  1.000000   1   7.400000
Canned Soda                                126  1.211538   4   1.320577
Canned Soft Drink                          351  1.166113   4   1.457641
Carnitas Bowl                               71  1.044118   3  10.833971
Carnitas Burrito                            60  1.016949   2  10.132712
Carnitas Crispy Tacos                        8  1.142857   2  11.137143
Carnitas Salad                               1  1.000000   1   8.990000
Carnitas Salad Bowl                          6  1.000000   1  11.056667
Carnitas Soft Tacos                         40  1.000000   1   9.398500
Chicken Bowl                               761  1.048209   3  10.113953
Chicken Burrito                            591  1.068716   4  10.082857
Chicken Crispy Tacos                        50  1.063830   2  10.045319
Chicken Salad                                9  1.000000   1   9.010000
Chicken Salad Bowl                         123  1.118182   2  11.170455
Chicken Soft Tacos                         120  1.043478   2   9.635565
Chips                                      230  1.090047   3   2.342844
Chips and Fresh Tomato Salsa               130  1.181818  15   3.285091
Chips and Guacamole                        506  1.056367   4   4.595073
Chips and Mild Fresh Tomato Salsa            1  1.000000   1   3.000000
Chips and Roasted Chili Corn Salsa          23  1.045455   2   3.084091
Chips and Roasted Chili-Corn Salsa          18  1.000000   1   2.390000
Chips and Tomatillo Green Chili Salsa       45  1.046512   2   3.087209
Chips and Tomatillo Red Chili Salsa         50  1.041667   2   3.072917
Chips and Tomatillo-Green Chili Salsa       33  1.064516   2   2.544194
Chips and Tomatillo-Red Chili Salsa         25  1.250000   3   2.987500
Crispy Tacos                                 2  1.000000   1   7.400000
Izze                                        20  1.000000   1   3.390000
Nantucket Nectar                            29  1.074074   2   3.641111
Salad                                        2  1.000000   1   7.400000
Side of Chips                              110  1.089109   8   1.840594
Steak Bowl                                 221  1.047393   3  10.711801
Steak Burrito                              386  1.048913   3  10.465842
Steak Crispy Tacos                          36  1.028571   2  10.209714
Steak Salad                                  4  1.000000   1   8.915000
Steak Salad Bowl                            31  1.068966   2  11.847931
Steak Soft Tacos                            56  1.018182   2   9.746364
Veggie Bowl                                 87  1.023529   2  10.211647
Veggie Burrito                              97  1.021053   3   9.839684
Veggie Crispy Tacos                          1  1.000000   1   8.490000
Veggie Salad                                 6  1.000000   1   8.490000
Veggie Salad Bowl                           18  1.000000   1  10.138889
Veggie Soft Tacos                            8  1.142857   2  10.565714

In [55]:
for name, group in c:
    print(f"Group: {name}")
    print(group, "\n")

Group: ('6 Pack Soft Drink',)
                   quantity
item_name
6 Pack Soft Drink        55

Group: ('Barbacoa Bowl',)
               quantity
item_name
Barbacoa Bowl        66

Group: ('Barbacoa Burrito',)
                  quantity
item_name
Barbacoa Burrito        91

Group: ('Barbacoa Crispy Tacos',)
                       quantity
item_name
Barbacoa Crispy Tacos        12

Group: ('Barbacoa Salad Bowl',)
                     quantity
item_name
Barbacoa Salad Bowl        10

Group: ('Barbacoa Soft Tacos',)
                     quantity
item_name
Barbacoa Soft Tacos        25

Group: ('Bottled Water',)
               quantity
item_name
Bottled Water       211

Group: ('Bowl',)
           quantity
item_name
Bowl              4

Group: ('Burrito',)
           quantity
item_name
Burrito           6

Group: ('Canned Soda',)
             quantity
item_name
Canned Soda       126

Group: ('Canned Soft Drink',)
                   quantity
item_name
Canned Soft Drink       351

Group: ('Carnitas Bowl',)
               quantity
item_name
Carnitas Bowl        71

Group: ('Carnitas Burrito',)
                  quantity
item_name
Carnitas Burrito        60

Group: ('Carnitas Crispy Tacos',)
                       quantity
item_name
Carnitas Crispy Tacos         8

Group: ('Carnitas Salad',)
                quantity
item_name
Carnitas Salad         1

Group: ('Carnitas Salad Bowl',)
                     quantity
item_name
Carnitas Salad Bowl         6

Group: ('Carnitas Soft Tacos',)
                     quantity
item_name
Carnitas Soft Tacos        40

Group: ('Chicken Bowl',)
              quantity
item_name
Chicken Bowl       761

Group: ('Chicken Burrito',)
                 quantity
item_name
Chicken Burrito       591

Group: ('Chicken Crispy Tacos',)
                      quantity
item_name
Chicken Crispy Tacos        50

Group: ('Chicken Salad',)
               quantity
item_name
Chicken Salad         9

Group: ('Chicken Salad Bowl',)
                    quantity
item_name
Chicken Salad Bowl       123

Group: ('Chicken Soft Tacos',)
                    quantity
item_name
Chicken Soft Tacos       120

Group: ('Chips',)
           quantity
item_name
Chips           230

Group: ('Chips and Fresh Tomato Salsa',)
                              quantity
item_name
Chips and Fresh Tomato Salsa       130

Group: ('Chips and Guacamole',)
                     quantity
item_name
Chips and Guacamole       506

Group: ('Chips and Mild Fresh Tomato Salsa',)
                                   quantity
item_name
Chips and Mild Fresh Tomato Salsa         1

Group: ('Chips and Roasted Chili Corn Salsa',)
                                    quantity
item_name
Chips and Roasted Chili Corn Salsa        23

Group: ('Chips and Roasted Chili-Corn Salsa',)
                                    quantity
item_name
Chips and Roasted Chili-Corn Salsa        18

Group: ('Chips and Tomatillo Green Chili Salsa',)
                                       quantity
item_name
Chips and Tomatillo Green Chili Salsa        45

Group: ('Chips and Tomatillo Red Chili Salsa',)
                                     quantity
item_name
Chips and Tomatillo Red Chili Salsa        50

Group: ('Chips and Tomatillo-Green Chili Salsa',)
                                       quantity
item_name
Chips and Tomatillo-Green Chili Salsa        33

Group: ('Chips and Tomatillo-Red Chili Salsa',)
                                     quantity
item_name
Chips and Tomatillo-Red Chili Salsa        25

Group: ('Crispy Tacos',)
              quantity
item_name
Crispy Tacos         2

Group: ('Izze',)
           quantity
item_name
Izze             20

Group: ('Nantucket Nectar',)
                  quantity
item_name
Nantucket Nectar        29

Group: ('Salad',)
           quantity
item_name
Salad             2

Group: ('Side of Chips',)
               quantity
item_name
Side of Chips       110

Group: ('Steak Bowl',)
            quantity
item_name
Steak Bowl       221

Group: ('Steak Burrito',)
               quantity
item_name
Steak Burrito       386

Group: ('Steak Crispy Tacos',)
                    quantity
item_name
Steak Crispy Tacos        36

Group: ('Steak Salad',)
             quantity
item_name
Steak Salad         4

Group: ('Steak Salad Bowl',)
                  quantity
item_name
Steak Salad Bowl        31

Group: ('Steak Soft Tacos',)
                  quantity
item_name
Steak Soft Tacos        56

Group: ('Veggie Bowl',)
             quantity
item_name
Veggie Bowl        87

Group: ('Veggie Burrito',)
                quantity
item_name
Veggie Burrito        97

Group: ('Veggie Crispy Tacos',)
                     quantity
item_name
Veggie Crispy Tacos         1

Group: ('Veggie Salad',)
              quantity
item_name
Veggie Salad         6

Group: ('Veggie Salad Bowl',)
                   quantity
item_name
Veggie Salad Bowl        18

Group: ('Veggie Soft Tacos',)
                   quantity
item_name
Veggie Soft Tacos         8

In [40]:
item_quants = chipo.groupby(['item_name']).agg({'quantity': 'sum'})
item_quants.sort_values('quantity', ascending = False).index[0]
item_quants.sort_values('quantity', ascending=False)

                                       quantity
item_name
Chicken Bowl                                761
Chicken Burrito                             591
Chips and Guacamole                         506
Steak Burrito                               386
Canned Soft Drink                           351
Chips                                       230
Steak Bowl                                  221
Bottled Water                               211
Chips and Fresh Tomato Salsa                130
Canned Soda                                 126
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Side of Chips                               110
Veggie Burrito                               97
Barbacoa Burrito                             91
Veggie Bowl                                  87
Carnitas Bowl                                71
Barbacoa Bowl                                66
Carnitas Burrito                             60
Steak Soft Tacos                             56
6 Pack Soft Drink                            55
Chips and Tomatillo Red Chili Salsa          50
Chicken Crispy Tacos                         50
Chips and Tomatillo Green Chili Salsa        45
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           36
Chips and Tomatillo-Green Chili Salsa        33
Steak Salad Bowl                             31
Nantucket Nectar                             29
Chips and Tomatillo-Red Chili Salsa          25
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           23
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Bowl                                          4
Steak Salad                                   4
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

In [24]:
#item_quants.sort_values('quantity', ascending = False)[0]['quantity'] this doesn't work, it's thinking you're searching for column 0
#without the int, it displays as np.int64(761)

### Step 10. For the most-ordered item, how many items were ordered?

In [41]:
item_quants = chipo.groupby(['item_name']).agg({'quantity': 'sum'})
int(item_quants.sort_values('quantity', ascending = False).iloc[0]['quantity'])

761

### Step 11. What was the most ordered item in the choice_description column?

In [45]:
chipo.head(15)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

### Step 12. How many items were orderd in total?

In [69]:
int(chipo.quantity.sum())

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [71]:
chipo['item_price'] = '$' + chipo['item_price'].astype(str)

In [72]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [76]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: 'float' object is not subscriptable

In [74]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?